<div class="mt-5">
    <div class="container row">

        <div class="col-md-9 col-left">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{course.videoID}}?si=6iOHmFmHPoQZbIjg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
        </div>
        <div class="col-md-3 col-right">
            <div class="card mt-3" style="width: 18rem;">
                <img src="{{course.actualImagePath}}" class="card-img-top" alt="{{course.name}}" />
                <div class="card-body shadow">
                    <form action="/courses/save" method="post">
                        <input type="hidden" name="courses_id" value="{{course._id}}" />
                        <h6 class="card-title fw-bold">{{course.name}}</h6>
                        <button type="submit" class="btn btn-success">Save course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>