<div class="mt-5">
    <div class="container row">

        <div class="col-md-9 col-left">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{course.videoID}}?si=6iOHmFmHPoQZbIjg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
        </div>
        <div class="col-md-3 col-right">
            <div class="card mt-3" style="width: 18rem;">
                <img src="{{course.actualImagePath}}" class="card-img-top" alt="{{course.name}}" />
                <div class="card-body shadow">
                    <h6 class="card-title fw-bold">{{course.name}}</h6>
                    <hr />
                    <div class="d-flex">
                        {{#if (isSaved courseID userCourses)}}
                            <form action="/courses/save" method="post" id="form-save">
                                <input type="hidden" name="courses_id" value="{{course._id}}" />
                                <span style="color: green;" class="me-3 fs-5 bookmark-btn"><i
                                        class="fa-regular fa-bookmark"
                                    ></i>
                                </span>
                            </form>
                        {{else}}
                            <form
                                action="/courses/remove-bookmark"
                                method="post"
                                id="form-remove-bookmark"
                            >
                                <input type="hidden" name="courses_id" value="{{course._id}}" />
                                <span style="color: green;" class="me-3 fs-5"><i
                                        class="fa-solid fa-bookmark remove-bookmark-btn"
                                    ></i>
                                </span>
                            </form>
                        {{/if}}
                        <span style="color: green;" class="me-3 fs-5"><i
                                class="fa-solid fa-share-nodes"
                            ></i></span>
                        <span style="color: green;" class="me-3 fs-5"><i
                                class="fa-regular fa-star"
                            ></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
                $(".bookmark-btn").on("click", function () {
                    var result = confirm("Add bookmark to this course ?");
                    if (result) {
                        $("#form-save").submit();
                    }
                });
                $(".remove-bookmark-btn").on("click", function () {
                    var result = confirm("Remove bookmark from this course ?");
                    if (result) {
                        $("#form-remove-bookmark").submit();
                    }
                });
            });
</script>