<div class="mt-4">
    <div class="d-flex justify-content-between">
        <h2>My courses ({{countCourses}})</h2>
        <h2><a class="btn btn-outline-success" href="/me/bin/courses"><i
                    class="fa-solid fa-recycle"
                ></i><span> Recycle bin ({{countDeleted}})</span></a></h2>
    </div>
    <table class="table table-hover mt-4">
        <thead>
            <th scope="col">#</th>
            <th scope="col">image</th>
            <th scope="col">Name</th>
            <th scope="col" colspan="2">Last Modified</th>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="col">{{sum @index 1}}</th>
                    <td style="max-width: 200px;"><img
                            style="max-width: 50%;"
                            src="{{image}}"
                            alt="{{name}}"
                            class="rounded img-fluid max-width-img"
                        /></td>
                    <td>{{name}}</td>
                    <td>{{dateFormat updatedAt "MMMM Do YYYY, h:mm:ss a"}}</td>
                    <td>
                        <div
                            class="action-container d-flex justify-content-evenly"
                        >
                            <a
                                class="text-decoration-none btn btn-outline-primary"
                                href="/courses/{{_id}}/edit"
                            ><span><i class="fa-solid fa-pen-to-square"></i>
                                    Update</span></a>
                            <a
                                class="text-decoration-none btn btn-outline-danger"
                                href="/courses/{{_id}}"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-delete-course"
                                data-bs-whatever="{{_id}}"
                            ><span><i class="fa-regular fa-trash-can"></i>
                                    Delete</span></a>
                        </div>
                    </td>
                </tr>
            {{else}}
                <tr class="text-center">
                    <td colspan="5">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>No course to display</span>
                        <a href="/courses/create">Create a new Course</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! delete-course-form }}
<form method="post" id="delete-course-form"></form>

{{! confirm delete course }}
<div
    class="modal fade"
    id="modal-delete-course"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Move to bin ?</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Are u sure to move this course to bin ?
            </div>
            <div class="modal-footer">
                <button
                    id="btn-delete-course"
                    type="button"
                    class="btn btn-danger"
                ><i class="fa-regular fa-trash-can"></i> Move to bin</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteCourseModal = document.getElementById('modal-delete-course'); var
    deleteCourseForm = document.getElementById("delete-course-form"); var
    btnDeleteCourse = document.getElementById("btn-delete-course"); var
    delete_id; deleteCourseModal.addEventListener('show.bs.modal', function
    (event) { var id = event.relatedTarget; delete_id =
    id.getAttribute('data-bs-whatever'); }); btnDeleteCourse.onclick=
    function(){ deleteCourseForm.action =
    "/courses/"+delete_id+"?_method=DELETE"; deleteCourseForm.submit(); };
</script>